@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

code {
    color: #fefefe;
    font-family: 'Source Code Pro', monospace;
}

code em, code strong, code span {
    background: #333;
    border-radius: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
}

code em {
    font-style: initial;
    color: #676767;
}

code strong {
    font-weight: normal;
    background: #3a5d9c;
    color: #fefefe;
}

body {
    background: #111;
    color: white;
}

details {
    cursor: pointer;
    padding-left: 30px;
    margin-top: 2px;
}

summary {
    padding-top: 2px;
    padding-bottom: 2px;
}

*:focus {
    outline: none;
}

span.rule {
    margin: 2px;
    padding: 2px;
    font-family: 'Source Code Pro', monospace;
    background: #333;
    border: 2px solid #333;
    border-radius: 2px;
    margin-right: 1em;
}

span.success {
    border-color: #27966d;
}
span.failure {
    border-color: #942c2c;
    text-decoration: line-through;
}
span.failure.partial-match {
    border-color: #ba8925;
    text-decoration: initial;
}